/* Imported by root +layout.svelte */
@import url('https://cdn.jsdelivr.net/npm/normalize.css@latest/normalize.css');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&family=Open+Sans:wght@400;700&family=Orbitron:wght@400;700&display=swap');
@import url('https://cdn.jsdelivr.net/npm/@tabler/icons@latest/iconfont/tabler-icons.min.css');

@import './reset.css';
@import './typography.css';
@import './color.css';
@import './components.css';
